/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

:root {
  --brand-color: blue;
}

.Header {
  background: white;
  border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
  color: black;
  position: relative;
}

.Header-brand {
  display: inline-block;
}

.Header-brand-image {
  width: 200px;
  height: 85.71px;

}
.Header-brandTxt {
  margin-left: 10px;
}

.Header-nav {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Header-banner {
  text-align: center;
}

.Header-bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.Header-bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}
